.form {
  $this: &;
  align-self: flex-start;
  background-color: #fff;
  box-shadow: 0 30px 60px 0 rgba(0, 69, 207, 0.15);
  box-sizing: border-box;
  padding-bottom: 50px;
  padding-top: 40px;
  position: relative;
  width: 460px;
  transform: translateY(-120px);
  z-index: 1;

  &__title {
    font-size: 18px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 60px;
  }

  &__element {
    border-bottom: 1px solid #f5f5f5;
    padding-bottom: 2px;
    padding-top: 35px;
    position: relative;
  }
  &__label {
    color: #9b9b9b;
    font-family: 'ProximaNovaBold';
    font-size: 16px;
    font-weight: normal;
    left: 80px;
    line-height: 2;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    text-overflow: ellipsis;
    top: 37px;
    transition-property: font-size, top;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    z-index: 0;

    &__required {
      font-family: Arial;
    }
  }
  &__control {
    background: transparent;
    border: none;
    box-sizing: border-box;
    color: #000;
    font-family: 'ProximaNovaBold';
    font-size: 16px;
    font-weight: normal;
    line-height: 2;
    outline: none;
    padding: 5px 25px 5px 80px;
    position: relative;
    width: 100%;
    z-index: 1;

    &:focus,
    &--filled {
      & + #{$this}__label {
        font-family: 'ProximaNovaRegular';
        font-size: 12px;
        top: 10px;
      }
    }
    &:focus {
      & ~ #{$this}__icon {
        #{$this}__icon__stroke {
          stroke: #0045cf;
        }
        #{$this}__icon__fill {
          fill: #0045cf;
        }
      }
    }
    &:-webkit-autofill {
      -webkit-text-fill-color: #000;
      -webkit-box-shadow: 0 0 0px 1000px #fff inset;

      &:hover,
      &:focus {
        -webkit-text-fill-color: #000;
        -webkit-box-shadow: 0 0 0px 1000px #fff inset;
      }
    }
    &::-webkit-contacts-auto-fill-button {
      visibility: hidden;
      display: none !important;
      pointer-events: none;
      position: absolute;
      right: 0;
    }
  }
  &__icon {
    fill: #d2d2d2;
    left: 19px;
    position: absolute;
    top: 42px;
    transition: fill 300ms ease-in;
    z-index: 1;

    &__stroke {
      stroke: #d2d2d2;
      transition: stroke 300ms ease-in;
    }
    &__fill {
      fill: #d2d2d2;
      transition: fill 300ms ease-in;
    }

    &:after {
      border-left: 1px solid #fafafa;
      bottom: 0;
      content: '';
      position: absolute;
      right: -18px;
      top: -2px;
    }
  }
  .btn {
    margin: 50px auto 0;
    margin-right: auto;
  }
  .customSelect {
    cursor: text;
    z-index: 1;

    .Select {
      &-control {
        background: transparent;
        border: none;
        box-shadow: none;
        box-sizing: border-box;
        color: #000;
        cursor: text;
        font-family: 'ProximaNovaBold';
        font-size: 16px;
        font-weight: normal;
        line-height: 2;
        outline: none;
        padding: 4px 10px 4px 80px;

        .Select-value {
          left: 80px;
          line-height: 46px;
          padding-left: 0;
        }
      }
      &-input {
        padding-left: 0;
      }
      &-menu {
        max-height: inherit;

        &-outer {
          border-radius: 0;
          border: none;
          margin-bottom: 8px;
          max-height: inherit;
        }
      }
      &-option {
        color: #000;
        font-family: 'ProximaNovaBold';
        font-size: 16px;
        font-weight: normal;
        line-height: 2;
        padding-left: 80px;

        &.is-selected,
        &.is-focused {
          background: #ececec;
        }

        &:last-child {
          border-radius: 0;
        }
      }
      &-arrow {
        background-color: #d8d8d8;
        border: none !important;
        border-radius: 50%;
        height: 5px;
        top: -2px !important;
        width: 5px;
        transition: transform 300ms;

        &:after,
        &:before {
          background-color: #d8d8d8;
          border-radius: 50%;
          content: '';
          height: 5px;
          position: absolute;
          top: 0;
          width: 5px;
        }
        &:after {
          left: -10px;
        }
        &:before {
          right: -10px;
        }
        &-zone {
          width: 40px;
        }
      }
      &-noresults {
        padding-left: 80px;
        padding-top: 0;
      }
    }
    &.is-focused:not(.is-open) > .Select-control {
      box-shadow: none;
    }
    &.is-focused {
      & + #{$this} {
        &__label {
          font-family: 'ProximaNovaRegular';
          font-size: 12px;
          top: 10px;
        }
      }
      & ~ #{$this} {
        &__icon {
          fill: #0045cf;

          #{$this}__icon__stroke {
            stroke: #0045cf;
          }
          #{$this}__icon__fill {
            fill: #0045cf;
          }
        }
      }
      .Select-arrow {
        transform: rotate(90deg);
      }
    }
    &.selectCity {
      .Select {
        &-menu {
          &-outer {
            bottom: 100%;
            top: auto;
          }
        }
      }
    }
    &.selectDepartment {
      z-index: 2;
    }
  }
  &__instruction {
    font-size: 18px;
    font-weight: normal;
    left: 80px;
    line-height: 20px;
    padding: 30px 60px 0 80px;

    strong {
      font-family: 'ProximaNovaBold';
      font-weight: normal;
    }
    &__text {
      margin: 0 0 15px;
    }
    &__link {
      color: #0045cf;
      display: inline-block;
      font-size: 16px;
      margin-top: 5px;
      text-decoration: none;
    }
  }
}