.header {
  background-color: #0045cf;
  padding-bottom: 160px;
  padding-top: 8.75vh;

  &__logo {
    display: block;
    width: 100px;

    &__img {
      height: 100%;
      width: 100%;
    }
  }
  &__title {
    color: #fff;
    font-family: 'ProximaNovaBold';
    font-size: 24px;
    font-weight: normal;
    margin: 0;
  }

  .row {
    justify-content: space-between;
  }
}
