@media (max-width:1150px) {
  .result {
    &__mask {
      max-width: 650px;
    }
  }
  #generatedSignatureVisible {
    left: 162px;
    top: 220px;
    width: 480px;
  }
}

@media (max-width:980px) {
  .result {
    &__mask {
      margin-left: -70px;
      max-width: 600px;
    }
  }
  #generatedSignatureVisible {
    left: 82px;
    top: 220px;
    width: 440px;
  }
}

@media (max-width:850px) {
  .content {
    display: block;
  }
  .form {
    width: 100%;
  }
  .result {
    overflow: hidden;

    &__mask {
      max-width: inherit;
    }
  }
  #generatedSignatureVisible {
    left: 130px;
    top: 260px;
    width: 500px;
  }
}

@media (max-width:650px) {
  .header {
    padding-top: 30px;

    .container {
      padding-left: 30px;
      padding-right: 30px;
    }

    .row {
      display: block;
    }

    &__logo {
      margin-bottom: 20px;
    }
  }
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .form {
    .btn {
      max-width: 90%;
    }
  }
  .result {
    &__mask {
      max-width: 680px;
    }
  }
  #generatedSignatureVisible {
    left: 100px;
    top: 220px;
    width: 80%;
  }
}