.result {
  position: relative;
  transform: translateY(-90px);
}
#generatedSignatureWrap {
  bottom: 0;
  height: 1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
#generatedSignatureVisible {
  left: 200px;
  position: absolute;
  top: 260px;
  width: 260px;

  .banner {
    display: block;
    height: 0;
    opacity: 0;
    overflow: hidden;
  }
}
