body {
  background: #fff;
  color: #000;
  font-family: 'ProximaNovaRegular';
  margin: 0;
}
.container {
  box-sizing: border-box;
  max-width: 1300px;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
}
.row {
  display: flex;
}
.section {
  background: #f7f7f7;
}